* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /*   padding: 50px;
    border-radius: 20px;*/
  background-color: black;
}
.header-pic {
  width: 100%;
  height: 300px;
}
.header-pic img {
  width: 98%;
  height: 300px;
  object-fit: fill;
  margin: 1%;
  margin-bottom: 0;
  border-radius: 20px 20px 0 0;
}
.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -100px;
}
.profile-pic img {
  width: 200px;
  height: 200px;
  padding: 2.5px;
  border-radius: 50%;
  object-fit: cover;
}
.info {
  text-align: center;
}
.info h1 {
  font-size: 3rem;
  color: rgb(42, 41, 41);
}
.info p {
  font-size: 2rem;
  width: 40ch;
  margin: 0 auto;
  color: rgb(100, 96, 96);
}
.btn {
  text-align: center;
}
.btn button {
  font-size: 2rem;
  padding: 1.5ch 4ch;
  border-radius: 20px;
  margin: 50px 20px;
  border: none;
  font-weight: 600;
}
.follow {
  background:/* rgb(85, 36, 188);*/ rgb(9, 28, 68);

  color: white;
}
.msg {
  background: white;
  color: rgb(100, 96, 96);
}
main {
  background: white;
  padding-bottom: 200px;
  margin: 20px;
  border-radius: 30px;
}
